<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @todo_item.content %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @todo_item.priority %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @todo_item.completed %>
</p>

<p>
  <strong>Completed at:</strong>
  <%= @todo_item.completed_at %>
</p>

<%= link_to 'Edit', edit_todo_item_path(@todo_item) %> |
<%= link_to 'Back', todo_items_path %>
